
<!DOCTYPE HTMl>
<html>
<head>
<title>{{screamIt name}}</title>
<link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Strait' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

</head>
<body>
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script> console.log('test') </script>

<body>



				<h1><a href=/>Runescapecape</a></h1>


				<div class="container">

			    <div class="container_img"> <img class="container_img2" src="{{image}}" alt="{{name}}"> </div>
			    <div class="container_img"> <button type="button"><a href=/capes/{{id}}/order>Order a {{name}} now!</a></button> </div>
			    <div class="container_img"> <img class="container_img2" src="{{animation}}" alt="{{name}}"> </div>
				</div>



</body>
</html>
